<%- include("./partials/head.ejs") %> 
<% if (locals.allGameDetails && locals.allGameDetails.length > 0) { %> 
Game: <%= allGameDetails[allGameDetails.length - 1].gameName %> 
<% } else { %>
allGameDetails empty or some error 
<% } %> 

<% if (locals.personas) { %>
 

<% personas.slice(1).forEach(player => { %>
    <div>
        
        <%= player.name %>
       
    </div>
<% });   %>
<% } %>


<form action="/add-players" method="post">
	<input type="text" name="playerName" placeholder="Name of player" />

	<input type="submit" value="Add" />
</form>

<br />
<a href="./game-initial"><button>NEXT</button></a>
<%- include("partials/footer.ejs") %>
