<%- include("./partials/head.ejs") %> 
<% if (locals.allGameDetails && locals.allGameDetails.length > 0) { %> 
    Game: 
    <%= allGameDetails[allGameDetails.length - 1].gameName %> 
    <% } else { %>
allGameDetails empty or some error
 <% } %>
<br /><br />

<form action="/game-initial" method="post">
	
    <label for="bankBalance">Initial Bank Balance</label><br />
    <input type="text" name="bankBalance" placeholder="99000" /><br /><br />
		
    <label for="startingAmount">Initial Player Balance</label><br />
    <input type="text" name="startingAmount" placeholder="1500" /><br /><br />
		
    <label for="playerSalary">Salary / Pass GO</label><br />
    <input type="text" name="playerSalary" placeholder="200" /><br /><br />

	<input type="submit" value="PLAY" />
</form>

<%- include("partials/footer.ejs") %>
