<%- include("./partials/head.ejs") %>
<br />
<a href="/new-game"><button>NEW GAME</button></a>
<br />
or
<br />
LOAD OLD GAME:
<br />
<%- include("list-of-games.ejs") %>
<br />
<%- include("partials/footer.ejs") %>
